<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api_endpoint</key>
	<string>https://baf9cd5c.ngrok.io/_/api/</string>
	<key>storage_endpoint</key>
	<string>https://baf9cd5c.ngrok.io/_/storage/api</string>
	<key>contribute_url</key>
	<string>https://github.com/tokend/ios-app-loyalty</string>
	<key>terms_address</key>
	<string>https://demo.tokend.io/terms</string>
	<key>kyc</key>
	<string>https://demo.tokend.io/verification</string>
</dict>
</plist>
